<section id="about">

    <div class="container">
        <div class="row top-buffer equal-height" style="width: 100%; height: auto; margin:auto;">

            <div class="col-lg-5 col-md-5" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <div class="text-center">
                        <img src="/img/logo/logo_transparent.png" style="object-fit: fit; width: 80%; height: auto;">
                    </div>
                </div>
            </div>


            <div class="col-lg-7 col-md-7" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <h1>
                        <font style="font-weight:700; font-size: 110%;">
                            <span class="dark-grey">
                                Kalista is reinventing the storage system.
                            </span>
                        </font>
                    </h1>
                    <h2 class="black">
                        <font style="font-weight:700; font-size: 110%;">
                            We are building <span class="dark-red">intelligent</span> compute and storage systems
                            designed and optimized for <span class="dark-red">software-defined environments</span>
                            and <span class="dark-red">next generation</span> storage devices.
                        </font>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>