<section id="about">
    <div class="container">
        <div class="text-center">
            <img src="img/logo/logo.png" style="width: 15%">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our mission is to help the world efficiently store and organize data</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="text-left">
                <p>
                    Storage systems and devices are on divergent paths. The explosive growth of digital data is pushing storage devices to become increasingly complex, difficult and costly to use.
                    Meanwhile, the demand for operational agility and lower TCO is forcing companies to operate their IT infrastructure with higher tenancy, contention and commoditization.
                </p>
                <p>
                    Simple put, current storage systems are just not compatible with nor optimized for future storage devices.
                </p>
                <p>
                    At Kalista, we are building an intelligent compute and storage platform designed and optimized for software-defined environments and next generation storage devices.
                    Break free from legacy to a future that is infinitely scalable and just works.
                </p>
                <p>
                    Join us for the data storage <font color="#980000">revolution!</font>
                </p>
                </br>
            </div>
        </div>
    </div>
</section>
