<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Kalista</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="text-center">
                <h3>
                    <p>
                        <b>Our thesis and mission</b>
                    </p>
                </h3>
            </div>
            <div class="text-left">
                <h3>
                    <p>
                        Storage software and devices are on divergent paths.
                    </p>
                    <p>
                        The explosive growth of digital data and increasing sensitivity to latency are fueling advancements in device capacity, endurance and performance. This push against limits of device physics results in devices that are increasingly complex, difficult and costly to use.
                    </p>
                    <p>
                        Meanwhile, the relentless pursuit for operational agility and lower TCO are pushing systems to dramatically increase tenancy, contention, abstraction and agnosticism. This often leads to designs and scenarios that are incompatible with nor optimized for next generation storage devices.
                    </p>
                    <p>
                        Consequently, there is a growing gap between software system expectation and underlying device behavior. The advent and confluence of SMR, HAMR and multi-actuator technologies along with containerization, software-define infrastructure and rapid commoditization are furthering this disconnect.
                    </p>

                    <p>
                        Our mission is to help companies better store and organize data through storage systems that are designed and optimized for modern software-defined environments and next generation storage devices.
                    </p>

                    <p>
                        <font color="#980000"><b>It is time for a data storage revolution!</b></font>
                    </p>
                </h3>
            </div>
        </div>
    </div>
</section>
