<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/architecture/header.jpeg" style="object-fit: fit;width: 100%;height: auto;">
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        A new kind of scale out compute and storage platform.
                    </font>
                    <font class="mid-grey">
                        Designed for performance, reliability and ease of use.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

     <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/abstract-background.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                <h3>
                    <font class="dark-grey">
                        Olympus has a modular architecture with two primary components: Abacus (compute) and Phalanx (storage).
                    </font>
                    <font class="mid-grey">
                        Each component can be deployed, scaled and used independently.
                    </font>
                </h3>
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
               <img src="img/architecture/olympus-components.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

</section>


<section class="bg-grey">


    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        One for all, all in one.
                    </font>
                    <font class="mid-grey">
                        With an unified object, block and file interface - Phalanx is always ready for data.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/touch.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Creating an entirely new design meant inventing entirely new architecture.
                    </font>
                    <font class="mid-grey">
                        To achieve the best performance and the lowest TCO, we needed to reinvent the storage system. The result is a revolutionary row & column architecture that prevents hot writes, minimizes IO contention and scales performance with capacity.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/rack.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

</section>


<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Maximum velocity at maximum capacity.
                    </font>
                    <font class="mid-grey">
                        Phalanx is designed and engineered to go all out, all the time.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/jet-rear.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                <h3>
                    <font class="dark-grey">
                        Making IO fast and efficient.
                    </font>
                    <font class="mid-grey">
                        Phalanx's request management layer intelligently prioritizes incoming requests, enabling clients to achieve high throughput and low latency IO. A separate metadata store increases the scalability, efficiency and robustness of the system.
                    </font>
                </h3>
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
               <img src="img/architecture/phalanx-stack.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>
        </div>
    </div>
</section>


<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Host Managed SMR support. An industry first.
                    </font>
                    <font class="mid-grey">
                        Seamlessly deploy industry leading next gen storage technology.
                    </font>
                </h1>
            </div>
        </div>
    </div>


    <br>
    <br>

   <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="img/architecture/upwards.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

            <div class="col-lg-6 col-md-6">
                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-plus"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Massive, ultra-dense storage. Up to 20TB per device.
                            </h2>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-dollar-sign"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Reduced TCO. Say hello to power efficiency and a lower cost per capacity.
                            </h2>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-flag-checkered"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Consistent and predictable performance. Say goodbye to long tail latencies.
                            </h2>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        A foundation for data.
                    </font>
                    <font class="mid-grey">
                        On the most advanced storage platform. Experience IT that loads faster and launches faster.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                <h3>
                    <font class="dark-grey">
                        Having your cake and eating it too.
                    </font>
                    <font class="mid-grey">
                        Phalanx is designed to scale performance with capacity. With an unique row & column architecture, adding a device increases both performance and storage capacity of the system.
                    </font>
                </h3>
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
               <img src="img/architecture/phalanx-device-management.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Fast. Cool. Capable.
                    </font>
                    <font class="mid-grey">
                        With device-aware and log structured data layout, Phalanx minimizes IO contention and evenly distributes write workload across capacity preventing hot write areas.
                    </font>
                </h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/log-structured-layout.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

</section>



<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Work seamlessly.
                    </font>
                    <font class="mid-grey">
                        Phalanx unifies on-prem and cloud resources to power your business at any scale.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/cloud.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-grey">
                        Distributed systems simplified.
                    </font>
                    <font class="mid-grey">
                        Transparently utilize resources from multiple cloud providers.
                    </font>
                </h1>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Simple. Transparent. Designed for users.
                    </font>
                    <font class="mid-grey">
                        Easily deploy and operate using existing orchestration and provisioning frameworks. Phalanx is designed to fit into your workflow.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/simplify.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>


<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Your all‑purpose, all‑powerful compute and storage platform.
                    </font>
                    <font class="mid-grey">
                        Designed to scale. Engineered to perform.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/servers.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/architecture/smoke.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="mid-grey">
                        Interested to know more?<br>
                        Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>


<setion>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center">
                <h3>
                    <span>
                        "Wisdom begins in wonder." — Socrates
                    </span>
                </h3>
            </div>
        </div>
    </div>
</setion>