<section class="no-padding">
	<div style="position: relative; text-align: center;">
		<img src="img/turbine.jpg" style="object-fit: scale-down;max-width: 100%;height: auto;">
	</div>
</section>

<section class="no-padding">
    <aside class="bg-black">
      <div class="container text-center">
          <div class="call-to-action">
              <h2><font style="font-weight:700">Designed for the modern IT environment</font></h2>
              <hr class="primary">
          </div>
      </div>
      <div class="container text-left">
          <div class="call-to-action">
              <h3 style="margin:auto">
                <p>
                  Built for on speed and scalability
                </p>
                <p>
                 ASDASDASDASDASDASDASDA
                </p>
              </h3>
              <br>
          </div>
      </div>
    </aside>
</section>
