<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/careers/careers-header.png" style="object-fit: fit;width: 100%;height: auto;">
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <div class="text-left">
                    <p>
                        Help us transform the data storage industry.
                        At Kalista, company culture and value are very importan to us.
                        It is about fundamental values and principles held by everyone at the company.
                        Join some of the smartest and passionate people at Kalista to make a difference in the world!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="text-center">
                    <h3>
                        <span>
                            "We are what we repeatedly do. Excellence then is not an act, but a habit." — Aristotle
                        </span>
                    </h3>
                </div>
            </div>
        </div>

        <br/>

        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <div>
                    <h4>
                        Our core values
                    </h4>
                    <ul>
                        <li>Be courteous and humble</li>
                        <li>Do the right thing</li>
                        <li>Make sure you are having fun</li>
                        <li>Time > money ∧ people > money</li>
                        <li>Run concise meetings</li>
                        <li>Question assumptions</li>
                        <li>When in doubt, always ask questions</li>
                        <li>Over communicate as needed</li>
                        <li>Don't be afraid of saying "I don't know"</li>
                        <li>Propose wild and outragous ideas, don't be afraid of taking risks</li>
                    </ul>
                </div>
            </div>
        </div>

        <br/>

        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <div>
                    <p>
                        Ready to <a href="mailto:careers@kalista.io">join</a> us in the data storage revolution?<br>
                        Introduce yourself and we'll get in touch if there is a match.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
