<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/careers/careers-header.png" style="object-fit: fit;width: 100%;height: auto;">
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="text-left">
                <h4>
                    We are just getting started. Help us transform the data storage industry.
                </h4>

                </br>

                <p>
                    At Kalista, company culture and value are very importan to us. It is about fundamental values and principles held by everyone at the company. Join some of the smartest and passionate people at Kalista to make a difference in the world!
                </p>

                <br>

                <ul>
                    <li>Be courteous and humble</li>
                    <li>Do the right thing</li>
                    <li>Make sure you are having fun</li>
                    <li>Time > money ∧ people > money</li>
                    <li>Run concise meetings</li>
                    <li>Question assumptions</li>
                    <li>When in doubt, always ask questions</li>
                    <li>Over communicate as needed</li>
                    <li>Don't be afraid of saying "I don't know"</li>
                    <li>Propose wild and outragous ideas - don't be afraid of taking risks</li>
                </ul>

                <br>
                <br>

                <br>
                <br>

                <p>
                    Ready to <a href="mailto:careers@kalista.io">join</a> us in the data storage revolution?<br>
                    Introduce yourself and we'll get in touch if there is a match.
                </p>

            </div>
        </div>
    </div>
</section>
