<section id="detail">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-6">
                <a href=/architecture style="text-decoration:none;">
                    <div class="std-padding text-left bg-black" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2>
                            <font style="font-weight:700">Architecture</font>
                        </h2>

                        <br>

                        <p>
                            Novel row & column storage. No hot write areas.</br>
                        </p>
                        <p>
                            Learn what makes Olympus different.
                        </p>

                        <br>

                        <p>
                            Details >
                        </p>
                    </div>
                </a>
            </div>

            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

            <div class="col-lg-6 col-md-6">
                <a href=/performance style="text-decoration:none;">
                    <div class="std-padding text-left bg-black" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2>
                            <font style="font-weight:700">Performance</font>
                        </h2>

                        <br>

                        <p>
                            Benchmarks and IO traces for various workloads.<br>
                        </p>
                        <p>
                            Learn how Olympus can help accelerate your IT infrastructure.
                        </p>

                        <br>

                        <p>
                            Details >
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
