
<section id="footnotes_front">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left dark-grey footnotes">
                <ol class="no-padding" style="margin: 0px 10px 0px 10px">
                    <li id="footnote-1" class="footnotes lnum">
                        By Marie-Lan Nguyen (User:Jastrow), 2009-02-28, CC BY 2.5, <a href="https://commons.wikimedia.org/w/index.php?curid=6911343">https://commons.wikimedia.org/w/index.php?curid=6911343</a>
                        Used under <a href="https://creativecommons.org/licenses/by/2.5/">CC BY</a> / scaled, cropped and edited from original.
                    </li>

                    <!--
                    <li id="footnote-1" class="footnotes lnum">
                        Photo of Lightwaves from <a href="http://creativity103.com">http://creativity103.com</a>, CC BY 3.0
                        Used under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY</a> / scaled from original.
                    </li>
                    -->
                </ol>
            </div>
        </div>
    </div>
</section>

