<section id="front-announcement" class="bg-grey">
    <div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Kalista IO and Western Digital</br>
                        Enabling optimal performance and TCO at scale<br/>
                    </h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div style="position: relative; text-align: center;">
            <img src="/img/front/ultrastar-dc-hc600-product-image-scaled.png" style="object-fit: fit; width: 35%; height: auto;">
        </div>

        <div class="container call-to-action text-center">
            <h2 class="dark-grey">
                <font style="font-weight:700; font-size: 100%;">
                    Uncompromising reliability and performance,<br/>
                    with effortless simplicity.</br>
                </font>
            </h2>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <div class="text-left">
                    <h3>Western Digital Ultrastar<sup>&reg;</sup> DC HC620 Host Managed SMR HDD</h3>
                    <p>
                        Built for data center class workloads, <a href="https://www.westerndigital.com/products/data-center-drives/ultrastar-dc-hc600-series-hdd">Ultrastar DC HC620</a> is ideal for dense scale-out storage systems.
                        It delivers the uncompromising product reliability necessary for private and public cloud enterprise applications.
                        Ultrastar DC HC620 is built on the proven and mature HelioSeal<sup>&reg;</sup> platform to deliver an exceptional watts/TB power footprint for online storage.
                    </p>

                    <h3>Kalista IO Phalanx Storage System</h3>
                    <p>
                        An intelligent storage system built for software-defined environments and next generation storage devices.
                        Phalanx is engineered to deliver consistent and predictable performance at scale.
                        Most importantly, it is designed to fit easily into existing workflows and orchestration/virtualization environments without disruption.
                    </p>

                    <h3>Phalanx and Ultrastar DC HC620 for Optimal Total Cost of Ownership (TCO) and Performance at Scale</h3>
                    <p>
                        Western Digital and Kalista IO are working together to help customer meet the challenges of big data.
                        We are collaborating to enable, simplify and optimize distributed storage systems with Host Managed SMR devices.
                        Our joint solution delivers performance consistency, predictability and optimal TCO at scale.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <h4><font class="dark-red" style="font-weight:700;"><a href=https://documents.westerndigital.com/content/dam/doc-library/en_us/assets/public/western-digital/product/data-center-drives/ultrastar-dc-hc600-series/solution-brief-distributed-storage-system-with-host-managed-smr-hdds.pdf>Read our joint solution brief (PDF)</a> ></font></h4>
            </div>
        </div>
    </div>
</section>