<section id="news" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center lnum">
                <img src="/img/front/drachma.png" style="object-fit: fit; width: 55%; height: auto;">
            </div>
            <div class="text-right">
                <a href="#footnote-1" class="footnote-reference" style="font-size: xx-small;">Photo of silver tetradrachm by Marie-Lan Nguyen, used under CC BY</a>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-left lnum">
                <h1>
                    <span class="black">With great amount of storage, comes great amount of XCH.</span>
                    <span class="bright-orange">Chia crypto with Host Managed SMR.</span>
                </h1>
                <h2 class="dark-grey">
                    <font style="font-weight: 100; font-size: 110%;">
                        <span class="bright-orange" style="font-weight:bolder">Drachma</span> - world's first Host-Managed SMR crypto-storage system for Chia farming.
                        Chia users can finally take advantage of the huge capacity of HM-SMR devices and avoid the need to replace SSDs. This means more plots and more margin for your Chia farm.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row equal-height">
            <div class="col-lg-6 col-md-6" style="align-self: center;">
                <div class="bg-dark round-corners" style="height: 100%;">
                    <h1>
                        <font style="font-weight: 100; font-size: 150%;">
                            <span class="bright-orange">More storage, more Chia.</span>
                        </font>
                    </h1>
                    <h2>
                        <font style="font-weight: 100; font-size: 120%;">
                            <span class="white">
                                Chia is a new cryptocurrency where mining work is based on storage capacity (proof of space) rather than processing (proof of work).
                            </span>
                            <span class="light-grey">
                                However, its popularity is quickly straining the supply of storage devices and the mining work can quickly destroy even enterprise-grade SSDs.
                            </span>
                        </font>
                     </h2>
                </div>
            </div>

            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

            <div class="col-lg-6 col-md-6" style="align-self: center;">
                <div class="bg-dark round-corners" style="height: 100%;">
                    <h1>
                        <font style="font-weight: 100; font-size: 150%;">
                            <span class="bright-orange">Chia farming, simplified.</span>
                        </font>
                    </h1>
                    <h2 class="white">
                        <font style="font-weight: 100; font-size: 120%;">
                            <span class="white">
                                Drachma makes Chia farming easy and efficient. 
                            </span>
                            <span class="light-grey">
                                Using high capacity HM-SMR drives, we dramatically reduced the amount of space and energy consumed for Chia farming.
                                Having fewer drives also means fewer component failures and lower maintenance costs.
                            </span>
                        </font>
                     </h2>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <div class="row" style="margin:auto">
            <h4><font class="dark-red" style="font-weight:700;"><a href=/news-archive>News archive</a> ></font></h4>
        </div>
    </div>
</section>
