<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="/img/news-archive/header.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading black" style="font-family: lato;">
                    May 21, 2020
                </h2>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>
                        Kalista IO and Western Digital</br>
                        Enabling optimal performance and TCO at scale<br/>
                    </h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="position: relative; text-align: center;">
                        <img src="/img/front/ultrastar-dc-hc600-product-image-scaled.png" style="object-fit: fit; width: 55%; height: auto;">
                    </div>
                </div>
            </div>
        </div>

        <div class="container call-to-action text-center">
            <h2 class="dark-grey">
                <font style="font-weight:700; font-size: 100%;">
                    Uncompromising reliability and performance,<br/>
                    with effortless simplicity.</br>
                </font>
            </h2>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <div class="text-left">
                    <h3>Western Digital Ultrastar<sup>&reg;</sup> DC HC620 Host Managed SMR HDD</h3>
                    <p>
                        Built for data center class workloads, <a href="https://www.westerndigital.com/products/data-center-drives/ultrastar-dc-hc600-series-hdd">Ultrastar DC HC620</a> is ideal for dense scale-out storage systems.
                        It delivers the uncompromising product reliability necessary for private and public cloud enterprise applications.
                        Ultrastar DC HC620 is built on the proven and mature HelioSeal<sup>&reg;</sup> platform to deliver an exceptional watts/TB power footprint for online storage.
                    </p>

                    <h3>Kalista IO Phalanx Storage System</h3>
                    <p>
                        An intelligent storage system built for software-defined environments and next generation storage devices.
                        Phalanx is engineered to deliver consistent and predictable performance at scale.
                        Most importantly, it is designed to fit easily into existing workflows and orchestration/virtualization environments without disruption.
                    </p>

                    <h3>Phalanx and Ultrastar DC HC620 for Optimal Total Cost of Ownership (TCO) and Performance at Scale</h3>
                    <p>
                        Western Digital and Kalista IO are working together to help customer meet the challenges of big data.
                        We are collaborating to enable, simplify and optimize distributed storage systems with Host Managed SMR devices.
                        Our joint solution delivers performance consistency, predictability and optimal TCO at scale.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <h4><font class="dark-red" style="font-weight:700;"><a href=https://documents.westerndigital.com/content/dam/doc-library/en_us/assets/public/western-digital/product/data-center-drives/ultrastar-dc-hc600-series/solution-brief-distributed-storage-system-with-host-managed-smr-hdds.pdf>Read our joint solution brief (PDF)</a> ></font></h4>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading black" style="font-family: lato;">
                    November 03, 2019
                </h2>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="container call-to-action text-center">
            <h2 class="dark-grey">
                <font style="font-weight:700; font-size: 100%;">
                    Hadoop and Ceph with Host Managed SMR.<br>
                    No application changes, no kernel modifications.<br>
                    A solution that just works.
                </font>
            </h2>
            <hr class="primary">
        </div>

        <div class="container">

            <div class="row top-buffer">
                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                16x
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                more IOPS<br>
                                with fio random write<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-1" class="footnote-reference">1</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                19%
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                faster throughput<br>
                                with Hadoop TestDFSIO read<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-2" class="footnote-reference">2</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                58%
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                higher IOPS<br>
                                with Ceph Rados write bench<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                10x
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                better performance consistency<br>
                                with Ceph Rados write bench<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <br>

        <div class="container">
            <div class="row" style="margin:auto">
                <div class="text-left">
                    <p>
                        Kalista IO is excited to announce the industry's first storage system that enables Apache Hadoop and Ceph storage clusters to finally benefit from Host Managed SMR technology.<br>
                    </p>

                    <p>
                        As amount of digital data grows exponentially, the ability to store and retrieve it all in a cost effective and performant manner becomes paramount. Host Managed SMR devices offers performance consistency, predictability and a lower TCO than conventional magnetic recording devices. However, these benefits come at the cost of software changes and incompatibility, requiring additional investments in the stack by the user. This is because Host Managed SMR devices are not natively compatible with existing storage stacks and applications. These factors have long hindered the adoption of Host Managed SMR, frustrating both storage vendors and users.
                    </p>

                    <p>
                        Designed and optimized to work with commodity hardware and next generation storage technologies, Kalista Phalanx enables simple and transparent use of Host Managed SMR devices - allowing users to benefit from Host Managed SMR without the associated deficiencies. With no application nor kernel changes required, Phalanx has minimized the friction and disruption to deploying Host Managed SMR and future storage technologies.
                    </p>
                    <p>
                        Kalista IO is enabling the democratization of affordable and performant storage solutions world wide. We are looking forward to have you join us!
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <h4><font class="dark-red" style="font-weight:700;"><a href=/olympus>Learn more</a> ></font></h4>
            </div>
        </div>
    </div>
</section>

<section id="footnotes_performance">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left dark-grey footnotes">
                <ol class="no-padding" style="margin: 0px 10px 0px 10px">
                    <li id="footnote-1" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 4.18.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Flexible I/O tester (fio) version 3.14-11-g308a. Random write bench ran for 1800 seconds with 4KB block and 200GB file size, 64 concurrent threads each with queue depth of 1. Executed 3 times to capture average and standard deviation IOPS values.
                    </li>

                    <li id="footnote-2" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 5.0.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Apache Hadoop version 3.2.0 in single node pseudodistributed mode with single block replica, and TestDFSIO version 1.8 on OpenJDK version 1.8.0_222. TestDFSIO read benchmark ran with 32 files, 16GB each for a 512GB dataset. Executed 3 times to capture average and standard deviation throughput values.
                    </li>

                    <li id="footnote-3" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 5.0.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Ceph version 13.2.6 Mimic in single node mode with single object replica. Rados write bench ran with 4MB object and block (op) size with 16 concurrent operations for 1800 seconds to capture average and standard deviation IOPS values.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<setion>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center">
                <h3>
                    <span>
                        "Great deeds are usually wrought at great risks." — Herodotus
                    </span>
                </h3>
            </div>
        </div>
    </div>
</setion>