<section id="news" class="">
    <div class="container">
        <div class="row" style="margin:auto;">
            <div class="col-lg-12 col-md-12 text-center lnum">
                <h1 class="black">
                    <font style="font-weight: 100; font-size: 120%;">
                        A new partnership
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row" style="margin:auto;">
            <div class="col-lg-12 col-md-12 text-center lnum">
                <img src="img/front/seagate+kalista.png" style="object-fit: fit; width: 80%; height: auto;">
            </div>
        </div>
        <div class="row" style="margin:auto;">
            <div class="col-lg-12 col-md-12 lnum">
                <h3 class="mid-grey">
                    <font style="font-weight: 100; font-size: 150%;">
                        Working together to address the challenges of IO density, capacity and total cost of ownership.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row equal-height" style="margin:auto;">
            <div class="col-lg-6 col-md-6 text-left lnum" style="align-self: center; margin-bottom: 10px;">
                <img src="/img/front/hand-stack.jpg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

            <div class="col-lg-6 col-md-6 text-left lnum" style="">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-left lnum" style="align-self: center;">
                        <h1 class="dark-blue">
                            <font style="font-weight: 100; font-size: 120%;">
                                Innovation, passion and commitment.
                            </font>
                        </h1>
                        <h2 class="dark-grey">
                            Kalista is partnering with the world's technology leaders to answer tomorrow's IT challenges.
                            We believe everything is possible to those who try.
                            Join us.
                        </h2>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-lg-12 col-md-12 text-left lnum" style="align-self: bottom;">
                        <h3><font class="dark-red" style="font-weight:700;"><a href=/partners>Learn more</a> ></font></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-center">
        <div class="row" style="margin:auto">
            <h4><font class="dark-red" style="font-weight:700;"><a href=/news-archive>News archive</a> ></font></h4>
        </div>
    </div>
</section>
