<section id="news">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div>
        <div class="container call-to-action text-center">
            <h2 class="dark-grey">
                <font style="font-weight:700; font-size: 100%;">
                    Hadoop and Ceph with Host Managed SMR.<br>
                    No application changes, no kernel modifications.<br>
                    A solution that just works.
                </font>
            </h2>
        </div>

        <div class="container">

            <div class="row top-buffer">
                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                16x
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                more IOPS<br>
                                with fio random write<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-1" class="footnote-reference">1</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                19%
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                faster throughput<br>
                                with Hadoop TestDFSIO read<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-2" class="footnote-reference">2</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                58%
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                higher IOPS<br>
                                with Ceph Rados write bench<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h2 class="dark-red">
                            <font style="font-family: lato; font-weight:100; font-size: 350%;">
                                10x
                            </font>
                        </h2>
                        <h2 class="dark-grey">
                            <font style="font-family: lato; font-weight:100; font-size: 100%;">
                                better performance consistency<br>
                                with Ceph Rados write bench<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                            </font>
                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <br>

        <div class="container">
            <div class="row" style="margin:auto">
                <div class="text-left">
                    <p>
                        Kalista IO is excited to announce the industry's first storage system that enables Apache Hadoop and Ceph storage clusters to finally benefit from Host Managed SMR technology.<br>
                    </p>

                    <p>
                        As amount of digital data grows exponentially, the ability to store and retrieve it all in a cost effective and performant manner becomes paramount. Host Managed SMR devices offers performance consistency, predictability and a lower TCO than conventional magnetic recording devices. However, these benefits come at the cost of software changes and incompatibility, requiring additional investments in the stack by the user. This is because Host Managed SMR devices are not natively compatible with existing storage stacks and applications. These factors have long hindered the adoption of Host Managed SMR, frustrating both storage vendors and users.
                    </p>

                    <p>
                        Designed and optimized to work with commodity hardware and next generation storage technologies, Kalista Phalanx enables simple and transparent use of Host Managed SMR devices - allowing users to benefit from Host Managed SMR without the associated deficiencies. With no application nor kernel changes required, Phalanx has minimized the friction and disruption to deploying Host Managed SMR and future storage technologies.
                    </p>
                    <p>
                        Kalista IO is enabling the democratization of affordable and performant storage solutions world wide. We are looking forward to have you join us!
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin:auto">
                <h4><font class="dark-red" style="font-weight:700;"><a href=/product-details>Learn more</a> ></font></h4>
            </div>
        </div>
    </div>

</section>
