<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/partners/bump.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                Partners
            </h2>
            <hr class="primary">
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <p>
                    Kalista is working with the world's technology leaders to develope answers for tomorrow's IT challenges. We've teamed up with experts in AI/ML, security, cloud, mobile, networking, compute and storage to provide the most comprehensive IT strategies and solutions for our customers. We are proud to work with the following companies.
                </p>
            </div>
        </div>

        <div class="row equal-height text-center" style="width: 80%; height: auto; margin:auto;">
            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=https://tuneself.com target="_blank">
                        <img src="img/partners/tuneself-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
                <div class="text-left">
                    <p>
                        Tuneself, a music streaming service for independent record labels and artists from all over the world.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=https://www.westerndigital.com target="_blank">
                        <img src="img/partners/wdc-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
                <div class="text-left">
                    <p>
                        Western Digital, a leader in data infrastructure, creates environments for data to thrive. 
                    </p>
                </div>
            </div>


            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=http://yxtechnologies.com target="_blank">
                        <img src="img/partners/yxtech-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
                <div class="text-left">
                    <p>
                        YX Technologies, an EDA company with software to analyze and abstract complex VLSI circuits.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <aside class="no-padding">
        <div class="row text-center" style="width: 100%; height: auto; margin:auto;">
            <div class="col-lg-12 col-md-12" style="align-self: center; justify-content: center; margin: auto;">
                <p>
                    "We are what we repeatedly do. Excellence then is not an act, but a habit." — Aristotle.
                </p>
            </div>
        </div>
    </aside>
</section>



<section>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                <img src="img/partners/crew.jpeg" style="object-fit: fit; width: 100%;">
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                <div class="call-to-action text-center">
                    <h2>
                        Become a partner
                    </h2>
                    <hr class="primary">
                </div>
                <p>
                    Kalista is committed to the success of our partners. We support and invest in our shared excellence. We believe the whole is more than the sum of its parts. Let's work together to accelerate innovation, expand markets and increase profits. We look forward to growing with you.<br>
                    <br>
                    Let's get <a href="mailto:{{ site.email }}">started</a>
                </p>
            </div>
        </div>
    </div>
</section>

