<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/partners/bump.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                Our partners
            </h2>
            <hr class="primary">
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <h3 class="mid-grey">
                    Kalista is working with the world's technology leaders to answers tomorrow's IT challenges. We've teamed up with experts in AI/ML, security, cloud, mobile, networking, compute and storage to provide the most comprehensive IT strategies and solutions for our customers. We are proud to work with the following companies.
                </h3>
            </div>
        </div>

        <br>

        <div class="row equal-height text-center" style="width: 80%; height: auto; margin:auto;">
            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=https://seagate.com target="_blank">
                        <img src="img/partners/seagate-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <h3>
                        <a href=https://seagate.com target="_blank">Seagate</a> is a world leader in data storage and management solutions.
                    </h3>
                </div>

                <div class="text-left">
                    <h3>
                        Working together, Kalista and Seagate provide solutions to address the challenges of IO density, capacity and total cost of ownership.
                    </h3>
                </div>
            </div>
        </div>

        <div class="row equal-height text-center" style="width: 80%; height: auto; margin:auto;">
            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=https://tuneself.com target="_blank">
                        <img src="img/partners/tuneself-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <h3>
                        <a href=https://tuneself.com target="_blank">Tuneself</a> is a music streaming service for independent record labels and artists from all over the world.
                    </h3>
                </div>

                <div class="text-left">
                    <h3>
                        Kalista and Tuneself are collaborating to enable, simplify and optimize the use of multi-cloud storage solutions.
                    </h3>
                </div>
            </div>
        </div>

        <div class="row equal-height text-center" style="width: 80%; height: auto; margin:auto;">
            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=https://www.westerndigital.com target="_blank">
                        <img src="img/partners/wdc-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <h3>
                        <a href=https://www.westerndigital.com target="_blank">Western Digital</a> is a leading developer, manufacturer, and provider of data storage devices and
                        solutions.
                    </h3>
                </div>

                <div class="text-left">
                    <h3>
                        Read how Kalista and Western Digital are working together to enable distributed storage systems with Host Managed SMR devices:
                        <a href=https://documents.westerndigital.com/content/dam/doc-library/en_us/assets/public/western-digital/product/data-center-drives/ultrastar-dc-hc600-series/solution-brief-distributed-storage-system-with-host-managed-smr-hdds.pdf target="_blank">Joint Solution Brief</a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row equal-height text-center" style="width: 80%; height: auto; margin:auto;">
            <div class="col-lg-4 col-md-4" style="align-self: center; justify-content: center; margin: auto;">
                <div>
                    <a href=http://yxtechnologies.com target="_blank">
                        <img src="img/partners/yxtech-logo.png" style="width: 100%; height: auto; margin:auto">
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8" style="align-self: center; justify-content: center; margin: auto;">
                <div class="text-left">
                    <h3>
                        <a href=http://yxtechnologies.com target="_blank">YX Technologies</a> is an EDA company with software to analyze and abstract complex VLSI circuits.
                    </h3>
                </div>
                <div class="text-left">
                    <h3>
                        Kalista and YX Technologies are partnering on the application of transparent cloud-to-edge storage solutions to circuit analysis.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row equal-height">
            <div class="col-lg-6 col-md-6" style="align-self: center; margin-bottom: 10px;">
                <img src="/img/partners/crew.jpeg" style="object-fit: fit; width: 100%; margin-bottom: 10px;">
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center;">
                <div class="call-to-action text-center">
                    <h2>
                        Become our partner
                    </h2>
                    <hr class="primary">
                </div>
                <h3 class="mid-grey">
                    Kalista is committed to the success of our partners. We support and invest in our shared excellence. We believe the whole is more than the sum of its parts. Let's work together to accelerate innovation, expand markets and increase profits. We look forward to growing with you.<br>
                    <br>
                    Let's get <a href="mailto:{{ site.email }}">started</a>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row text-center" style="width: 100%; height: auto; margin:auto;">
        <div class="col-lg-12 col-md-12" style="align-self: center; justify-content: center; margin: auto;">
            <table style="padding: 15px; align-self: center; justify-content: center; margin: auto;">
                <h2>
                    <span>
                        Media resources
                    </span>
                </h2>
                <hr class="primary">
                <tr>
                    <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-image"></i></td>
                    <td class="table-cell-padding text-left"><h2><a href="/resources/logo/logo.png">Logo (PNG)</a></h2></td>
                </tr>
                <tr>
                    <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-image"></i></td>
                    <td class="table-cell-padding text-left"><h2><a href="/resources/logo/logo_and_name.png">Logo and name (PNG)</a></h2></td>
                </tr>
                <tr>
                    <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                    <td class="table-cell-padding text-left"><h2><a href="/resources/logo/Kalista_IO_Logo_Guidelines_0_1_a.pdf">Usage guidelines</a></h2></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="row text-center" style="width: 100%; height: auto; margin:auto;">
        <div class="col-lg-12 col-md-12" style="align-self: center; justify-content: center; margin: auto;">
            <h3>
                <span>
                    "No man ever steps in the same river twice, for it's not the same river and he's not the same man." — Heraclitus
                </span>
            </h3>
        </div>
    </div>
</section>