<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/performance/header.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Storage without limit.
                    </font>
                    <font class="mid-grey">
                        Accelerate your business with Olympus.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Business and ideas don't wait. Neither should you.
                    </font>
                    <font class="mid-grey">
                        Moving at the speed of business demands the best from your IT infrastructure. Olympus offers the agility, resiliency and performance that are required to keep your organization growing.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        Designed to perform<br>
                    </font>
                </h1>
            </div>

            <div class="col-lg-6 col-md-6">
                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="fab fa-4x fa-cloudscale"></i></td>
                        <td class="table-cell-padding text-left"><h2>Scales performance with capacity</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-thermometer-quarter"></i></td>
                        <td class="table-cell-padding text-left"><h2>No hot write areas</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-angle-double-up"></i></td>
                        <td class="table-cell-padding text-left"><h2>Minimum IO contention</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-cubes"></i></td>
                        <td class="table-cell-padding text-left"><h2>Infinitely scalable</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fab fa-4x fa-buffer"></i></td>
                        <td class="table-cell-padding text-left"><h2>Intelligent IO prioritization</h2></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="mid-grey">
                        Olympus is designed and optimized for modern software-defined environments and next generation storage devices - everything needed to maximize your organization's operational agility while minimizing the total cost of ownership (TCO). Let Olympus help you move at the speed of business.
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/performance/jet.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        All the power you need.
                    </font>
                    <font class="mid-grey">
                        In a package that is easy and simple to use.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-6 col-md-6 text-left">
               <img src="img/performance/happy-user.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                 <h3>
                    <font class="dark-red">
                        Increasing density and lowering TCO.
                    </font>
                    <font class="mid-grey">
                        While HDD capacity has increased over time, the amount of IO it can process per second have remained constant. This leads to unusable capacity and scalability issues. Olympus is designed from the ground up to address this challenge and to return the power to the user. This means more time and resource for what matters most - doing your best work.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Olympus puts the power of next generation storage technologies at your finger tips.
                    </font>
                    <font class="mid-grey">
                        With an innovative row & column architecture and intelligent IO prioritization, Olympus can effortlessly handle multiple streams of ingress and egress data. Store and access your data in ways never before possible.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        16x more IOPS<br>
                    </font>
                </h1>
            </div>
            <div class="col-lg-6 col-md-6 text-left">
               <img src="img/performance/fio-random-writes.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Create without boundaries.
                    </font>
                    <font class="mid-grey">
                        Olympus delivers the best performance of any storage system. Start focusing on what you are creating, not what you are creating with. Extreme performance delivered.
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/performance/servers.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        An industry first.
                    </font>
                    <font class="mid-grey">
                        Host Managed SMR on Ceph and Hadoop. Say hello to consistency, predictability and a lower TCO.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="img/performance/jet-rear.jpeg" style="object-fit: fit; width: 100%;height: auto;">
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                <h3>
                    <font class="dark-grey">
                        Read the complete benchmark reports
                    </font>
                </h3>
                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="resources/performance/phalanx-fio-benchmarks.pdf">Flexible I/O tester (fio) benchmarks</a></h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="resources/performance/phalanx-hadoop-benchmarks.pdf">Hadoop TestDFSIO benchmarks</a></h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="resources/performance/phalanx-ceph-benchmarks.pdf">Ceph OSD and Rados benchmarks</a></h2></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                 <h3>
                    <font class="dark-grey">
                        Let the yellow elephant out.
                    </font>
                    <font class="mid-grey">
                        Hadoop does not natively support next generation storage technologies such as Host Managed SMR. Resulting in higher TCO and inconsistent performances at scale. With Olympus, Hadoop can transparently utilize Host Managed SMR devices. Users no longer have to compromise on performance for increased storage density and lower TCO.
                    </font>
                </h3>
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                 <img src="img/performance/hadoop-logo.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        20% faster reads<br>
                    </font>
                </h1>
            </div>

            <div class="col-lg-6 col-md-6 text-left">
               <img src="img/performance/testdfsio-reads.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>

        </div>
    </div>


    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Future ready.
                    </font>
                    <font class="mid-grey">
                        The most advanced storage platform, packaged with a sleek, simple turnkey design that is easy to deploy and operate. There are no application nor kernel changes. We've minimized the friction and disruption to what's next.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                 <img src="img/performance/ceph-logo.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center; justify-content: center; margin: auto;">
                 <h3>
                    <font class="dark-grey">
                        Release the Kraken.
                    </font>
                    <font class="mid-grey">
                        Ceph is not designed to minimize IO contentions and hot writes. These lead to scalability issues and long tail latencies. Olympus enables Ceph to scale performance with capacity and to limit performance variations at scale. It’s now easier than ever to expand your storage.
                    </font>
                </h3>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left">
               <img src="img/performance/rados-bench-writes.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>

            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        20% faster writes<br>
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        10x the performance consistency
                    </font>
                </h1>
            </div>

            <div class="col-lg-6 col-md-6 text-left">
               <img src="img/performance/rados-bench-writes-stddev.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>

        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="dark-grey">
                        Performance at scale.
                    </font>
                    <font class="mid-grey">
                        Olympus is engineered to grow with you. This means predictable and consistent performance at scale. So that you can do more with less. From here anything is possible.
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="img/performance/splash.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="mid-grey">
                        Interested to know more? We invite you to connect with us to discuss your business requirements and see if Olympus is a good fit for your organization.<br>
                        Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>