<section class="no-padding" id="products">
    <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2><font style="font-weight:700">Introducing Olympus Storage and Compute Platform</font></h2>
              <hr class="primary">
          </div>
      </div>
      <div class="container text-left">
          <div class="call-to-action">
            <p>
              A scale out compute and storage system designed for performance, reliability and scalability.
            </p>
            <p>
              Olympus works with commodity hardware and natively supports next generation storage technologies such as Shingled Magnetic Recording (SMR) and variable capacity devices. Olympus cloud connect technology enables you to seamlessly deploy applications and utilize resources from core to edge to multicloud.
            </p>
            <br>
          </div>

          <img src="img/stars.jpg" style="object-fit: fit; width: 100%; height: 100%">

          <div class="container text-center">
            <h2><font style="font-weight:700">Run without limits</font></h2>
          </div>
      </div>
    </aside>
</section>
