<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="img/product-details/olympus.jpeg" style="object-fit: fit;width: 100%;height: auto;">
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                Overview
            </h2>
            <hr class="primary">
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <p>
                    Olympus is a scale-out compute and storage platform that unifies on-prem and cloud resources to power your business at any scale.
                    With no proprietary dependencies, Olympus can run on industry-standard commodity servers and various virtualized environments.
                    Use cases for Olympus includes AI/ML, data analytics, data archival, IoT, business critical applications and more.
                </p>
                <p>
                    Olympus has a modular architecture, with two primary components: Pythia (compute) and Phalanx (storage).
                    Each component can be deployed, scaled and used independently.
                    Compute resources can be provisioned using container and virtual machine images.
                    While storage resouces can be accessed through an unified object, block and file interface.
                </p>
                <p>
                    Designed for simplicity and reducing cost. Deploying Olympus is a turnkey operation. Kalista provides a variety of forms and configurations to meet your needs. Olympus is available as hardware appliance, software package and virtual machine/container image.
                    Break free from legacy to a future that is infinitely scalable and just works.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="img/product-details/abstract_colors_1.jpeg" style="object-fit: fit;width: 100%;height: auto;">
            </div>
        </div>
    </div>
</section>


<section id="features">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-cloudscale wow bounceIn text-primary"></i>
                    <h3>Scales performance with capacity</h3>
                    <p class="text-muted">Each storage device added to the system increases both performance and capacity.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-angle-double-right wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Next gen ready</h3>
                    <p class="text-muted">Ready for the latest in storage technologies. Olympus natively supports Shingled Magnetic Recording (SMR) and variable capacity devices.</p>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Seamless scaling to multicloud</h3>
                    <p class="text-muted">Out of capacity? No problem! Burst & scale from on-prem to AWS, GCP, Azure and more.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-chart-line wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Maximum performance</h3>
                    <p class="text-muted">No hot write areas and minimum device IO contention. Olympus storage engine drives maximum performance out of each storage device.</p>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cubes wow bounceIn text-primary"></i>
                    <h3>Scalable and compatible</h3>
                    <p class="text-muted">Virtualized and modular architecture. Self-contained storage VM/container fits within existing virtualization and orchestration frameworks.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-lightbulb wow bounceIn text-primary"></i>
                    <h3>Just works</h3>
                    <p class="text-muted">Turnkey operation. No need to recompile or change existing application. There is no kernel module to install. We've minimized the friction/disruption to deployment.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="img/product-details/abstract_colors_2.jpeg" style="object-fit: fit;width: 100%;height: auto;">
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                Technical information
            </h2>
            <hr class="primary">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center bg-white" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h3>
                            Architecture
                        </h3>

                        <p class="text-muted">
                            The most advanced storage platform.</br>
                            Designed to scale. Engineered to perform.</br>
                            Learn what makes Olympus different.</br>
                        </p>

                        <p class="text-muted">
                            <font class="dark-red"><a href=/architecture>Details</a> ></font>
                        </p>
                    </div>
            </div>

            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

            <div class="col-lg-6 col-md-6">
                    <div class="std-padding text-center bg-white" style="width: 100%; height: 100%; overflow-wrap: break-word">
                        <h3>
                            Performance
                        </h3>

                        <p class="text-muted">
                            All the power you need.</br>
                            Performance by design. Storage without constraint.</br>
                            Discover how Olympus can help accelerate your business.<br>
                        </p>

                        <p class="text-muted">
                            <font class="dark-red"><a href=/performance>Details</a> ></font>
                        </p>
                    </div>
            </div>

        </div>
    </div>
</section>