<section class="container" id="products-detail">
    <div class="container-fluid">
        <div class="row equal-height">

            <div class="col-lg-6 col-md-6">
                <a href="mailto:{{ site.email }}" style="text-decoration:none;">
                    <aside class="bg-black text-left" style="height:100%;">
                        <div class="container-fluid">
                            <h2>
                                <font style="font-weight:700">Architecture</font>
                            </h2>
                            <h3>
                                <p>
                                   Novel row/column architecture, device-aware design and log structured data layout minimize contention and latency while preventing hot write areas.
                                </p>
                            </h3>
                            <p>
                                Learn more >
                            </p>
                        </div>
                    </aside>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <a href="mailto:{{ site.email }}" style="text-decoration:none;">
                    <aside class="bg-black text-left" style="height:100%;">
                        <div class="container-fluid">
                            <h2>
                                <font style="font-weight:700">Performance</font>
                            </h2>
                            <h3>
                                <p>
                                   Benchmark comparison and IO trace for various workloads.<br>
                                   Learn the best setting for your application.
                                </p>
                            </h3>
                            <p>
                                Learn more >
                            </p>
                        </div>
                    </aside>
                </a>
            </div>

        </div>
    </div>
</section>
