html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

@font-face {
    font-family: Raleway;
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Raleway-Thin;
    src: url('/fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Raleway-Light;
    src: url('/fonts/Raleway-Light.ttf') format('truetype');
}


hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

hr.thin {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(153, 153, 153, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 30%;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
    font-family: 'Raleway', 'Lato', sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.bg-black {
    background-image: linear-gradient($theme-dark, black);
    color: white;
}

.bg-white {
    background-image: white;
    color: black;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-grey {
    background: linear-gradient(to bottom, #ebe9f2, #fbfafc);
}

.bg-solid-grey {
    background-color: #f5f5f7;
}

.equal-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    #flex-direction: column;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.std-padding {
    padding: 15px;
}

.top-buffer {
    margin-top:20px;
}

.white {
    color: white;
}

.light-grey {
    color: $light-grey;
}

.dark-red {
    color: $dark-red;
}

.dark-grey {
    color: $dark-grey;
}

.mid-grey {
    color: $mid-grey;
}

.black {
    color: black;
}

.table-cell-padding
{
    padding: 15px;
}

.hot-pink {
    color: #ff1d8e;
}

.btn-news
{
    white-space: nowrap;
    padding: 15px 30px;
    border-color: black;
    border: solid;
    border-radius: 50px;
    text-decoration: none;
}

.btn-news:hover, .btn-news:focus, .btn-news:active, .btn-news.active, .open>.dropdown-toggle.btn-news
{
    text-decoration: none;
}

a.btn-news:hover {
    text-decoration: none;
}

a.btn-news:active
{
    text-decoration: none;
}

a.fbtn-news:link
{
    text-decoration: none;
    color: inherit;
}

a.btn-news:visited {
    text-decoration: none;
}

// .modal-content{
//     -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
//     -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
//     -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
//     box-shadow: 0 5px 15px rgba(0,0,0,0);
// }

.lnum {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
  }

img.vertical-center-align-image
{
    position: absolute;
    width: auto;
    height: auto;
    margin:auto;
    max-height: 100%;
    max-width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.parallax {
  /* The image used */
  background-image: url("/img/lightning.jpg");

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

li.footnotes {
    margin-bottom: 10px;
}

div.footnotes {
    font-size: 90%;
}

a.footnote-reference:hover {
    text-decoration: none;
}

a.footnote-reference:active
{
    text-decoration: none;
}

a.footnote-reference:link
{
    text-decoration: none;
    color: inherit;
}

a.footnote-reference:visited {
    text-decoration: none;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(black, .7);
            &:hover {
                color: "green";
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: top;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: top center;
    #background-image: url('../img/header.jpg');
    #background-size: auto;
    background-repeat: no-repeat;

    text-align: center;
    color: black;
    .header-content {
        position: relative;
        top: 10%;
        text-align: center;
        padding: 100px 20px 250px;
        width: 100%;
        .header-content-inner {
            h0 {
                /* Extra small devices (phones, less than 768px) */
                font-family: 'Raleway', sans-serif;
                font-size: 300%;
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                color: #434343;

                /* Small devices (tablets, 768px and up) */
                @media (min-width: 768px) {
                    font-family: 'Raleway', sans-serif;
                    font-size: 900%;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: #434343;
                }

                /* Medium devices (desktops, 992px and up) */
                @media (min-width: 992px) {
                    font-family: 'Raleway', sans-serif;
                    font-size: 980%;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: #434343;
                }

                /* Large devices (large desktops, 1200px and up) */
                @media (min-width: 1200px) {
                    font-family: 'Raleway', sans-serif;
                    font-size: 980%;
                    font-weight: 2000;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 0;
                    olor: #434343;
                }
            }

            h7 {
                /* Extra small devices (phones, less than 768px) */
                font-family: 'Raleway', 'Lato', sans-serif;
                font-size: 80%;
                font-weight: 900;
                color: rgba(black, .8);
                margin-bottom: 50px;

                /* Small devices (tablets, 768px and up) */
                @media (min-width: 768px) {
                    font-family: 'Raleway', 'Lato', sans-serif;
                    font-size: 250%;
                    font-weight: 900;
                    color: rgba(black, .8);
                    margin-bottom: 50px;
                }

                /* Medium devices (desktops, 992px and up) */
                @media (min-width: 992px) {
                    font-family: 'Raleway', 'Lato', sans-serif;
                    font-size: 250%;
                    font-weight: 900;
                    color: rgba(black, .8);
                    margin-bottom: 50px;
                }

                /* Large devices (large desktops, 1200px and up) */
                    @media (min-width: 1200px) {
                    font-family: 'Raleway', 'Lato', sans-serif;
                    font-size: 250%;
                    font-weight: 900;
                    color: rgba(black, .8);
                    margin-bottom: 50px;
                }
            }

            h1 {
                font-family: 'Raleway', sans-serif;
                font-size: 110%;
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }

            /*
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
            */
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: relative;
            top: 20%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 20%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

.btn.joint-solution-brief {
    @include button-variant(white, $dark-grey, $dark-grey);
    font-family: inherit;
    text-transform: none;
}

hr.secondary {
    border-color: $theme-dark;
    border-width: 1px;
    border-style: dashed;
    max-width: 80px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: $theme-dark;
    border-radius: 50%;
    display: inline-block;
}