<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="/img/phalanx-architecture/header.jpeg" style="object-fit: fit;width: 100%;height: auto;">
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Creating a new kind of storage system meant inventing an entirely new architecture.
                    </font>
                    <font class="mid-grey">
                        To achieve the best performance and the lowest TCO, we needed to reinvent the storage system. The result is a revolutionary row & column architecture that prevents hot writes, minimizes IO contention and scales performance with capacity.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-architecture/phalanx-rack.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        A foundation for data. 
                    </font>
                    <font class="mid-grey">
                        On the most advanced storage platform.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                <h2>
                    <font class="dark-grey">
                        Making IO fast and efficient.
                    </font>
                    <font class="mid-grey">
                        Phalanx's request management layer intelligently prioritizes incoming requests, enabling clients to achieve high throughput and low latency IO. A separate metadata store increases the scalability, efficiency and robustness of the system.
                    </font>
                </h2>
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
               <img src="/img/phalanx-architecture/phalanx-stack.png" style="object-fit: fit; width: 100%;height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h2>
                    <font class="dark-grey">
                        Fast. Cool. Capable.
                    </font>
                    <font class="mid-grey">
                        With device-aware and log structured data layout, Phalanx minimizes IO contention and evenly distributes write workload across capacity preventing hot write areas.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-architecture/log-structured-layout.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12" style="color:white">
                <h1>
                    <font style="color:white">
                        Not just a storage system.
                    </font>
                    <br>
                    <font class="hot-pink">
                        A better storage system.
                    </font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-architecture/jet-rear.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Maximum velocity at maximum capacity.
                    </font>
                    <font class="mid-grey">
                        Phalanx is designed and engineered to go all out, all the time.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                <h2>
                    <font class="dark-grey">
                        Having your cake and eating it too.
                    </font>
                    <font class="mid-grey">
                        Phalanx is designed to scale performance with capacity. With an unique row & column architecture, adding a device increases both performance and storage capacity of the system.
                    </font>
                </h2>
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
               <img src="/img/phalanx-architecture/phalanx-device-management.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-architecture/smoke.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="mid-grey">
                        Interested to know more?<br>
                        Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<setion>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center">
                <h3>
                    <span>
                        "Wisdom begins in wonder." — Socrates
                    </span>
                </h3>
            </div>
        </div>
    </div>
</setion>