<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="/img/phalanx-performance/header.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Storage without limit.
                    </font>
                    <font class="mid-grey">
                        Accelerate your business with Phalanx.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h2>
                    <font class="dark-grey">
                        Business and ideas don't wait. Neither should you.
                    </font>
                    <font class="mid-grey">
                        Moving at the speed of business demands the best from your IT infrastructure. Phalanx offers the agility, resiliency and performance that are required to keep your organization growing.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-performance/jet-side.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row equal-height">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <h1>
                    <font color="#980000" style="font-weight:900">
                        Designed to perform<br>
                    </font>
                </h1>
            </div>

            <div class="col-lg-6 col-md-6">
                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="fab fa-4x fa-cloudscale"></i></td>
                        <td class="table-cell-padding text-left"><h2>Scales performance with capacity</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-thermometer-quarter"></i></td>
                        <td class="table-cell-padding text-left"><h2>No hot write areas</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-angle-double-up"></i></td>
                        <td class="table-cell-padding text-left"><h2>Minimum IO contention</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-cubes"></i></td>
                        <td class="table-cell-padding text-left"><h2>Infinitely scalable</h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fab fa-4x fa-buffer"></i></td>
                        <td class="table-cell-padding text-left"><h2>Intelligent IO prioritization</h2></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h2>
                    <font class="mid-grey">
                        Phalanx is designed and optimized for modern software-defined environments and next generation storage devices - everything needed to maximize your organization's operational agility while minimizing the total cost of ownership (TCO). Let Phalanx help you move at the speed of business.
                    </font>
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        All the power you need.
                    </font>
                    <font class="mid-grey">
                        In a package that is easy and simple to use.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-6 col-md-6 text-left" style="position: relative;">
                <img src="/img/phalanx-performance/happy-user.jpeg" class="vertical-center-align-image">
            </div>

            <div class="col-lg-6 col-md-6 text-left" style="align-self: center; justify-content: center; margin: auto;">
                 <h2>
                    <font class="dark-grey">
                        Increasing density and lowering TCO.
                    </font>
                    <font class="mid-grey">
                        While HDD capacity has increased over time, the amount of IO it can process per second have remained constant. This leads to unusable capacity and scalability issues. Phalanx is designed from the ground up to address this challenge and to return the power to the user. This means more time and resource for what matters most - doing your best work.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h2>
                    <font class="dark-grey">
                        Phalanx puts the power of next generation storage technologies at your finger tips.
                    </font>
                    <font class="mid-grey">
                        With an innovative row & column architecture and intelligent IO prioritization, Phalanx can effortlessly handle multiple streams of ingress and egress data. Store and access your data in ways never before possible.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-3 col-md-3 text-center no-padding" style="font-family: lato; margin: auto;">
                <span class="dark-red" style="font-weight: 100; font-size: 130px; line-height: 100%;">
                    16x<br>
                </span>
                <span class="dark-grey" style="font-weight: 100; font-size: 20px">
                    more IOPS<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-1" class="footnote-reference">1</a></sup>
                </span>
            </div>

            <div class="col-lg-9 col-md-9 text-left no-padding" style="margin-top: 10px;">
                <img src="/img/phalanx-performance/fio-random-write-iops-avg.svg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

        </div>
    </div>
</section>

<section>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Uncompromising reliability and performance with effortless simplicity.
                    </font>
                    <font class="mid-grey">
                        A powerful combination.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h2>
                    <font class="dark-grey">
                        Create without boundaries.
                    </font>
                    <font class="mid-grey">
                        Phalanx delivers the best performance of any storage system. Start focusing on what you are creating, not what you are creating with. Extreme performance delivered.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-performance/jet.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

</section>

<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <h1>
                    <font class="dark-red">
                        An industry first.
                    </font>
                    <font class="mid-grey">
                        Host Managed SMR on Ceph and Hadoop. Say hello to consistency, predictability and a lower TCO.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <h2>
                    <font class="dark-grey">
                        Future ready.
                    </font>
                    <font class="mid-grey">
                        The most advanced storage platform, packaged with a sleek, simple turnkey design that is easy to deploy and operate. There are no application nor kernel changes. We've minimized the friction and disruption to what's next.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-performance/servers.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div style="position: relative; text-align: center;">
                    <img src="/img/phalanx-performance/hadoop-logo.png" style="object-fit: fit; width: 55%; height: auto;">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12" style="align-self: center; justify-content: center; margin: auto;">
                <h2>
                    <font class="dark-grey">
                        Let the yellow elephant out.
                    </font>
                    <font class="mid-grey">
                        Hadoop does not natively support next generation storage technologies such as Host Managed SMR. Resulting in higher TCO and inconsistent performances at scale. With Phalanx, Hadoop can transparently utilize Host Managed SMR devices. Users no longer have to compromise on performance for increased storage density and lower TCO.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-3 col-md-3 text-center no-padding" style="font-family: lato; margin: auto;">
                <span class="dark-red" style="font-weight: 100; font-size: 130px; line-height: 100%;">
                    19%<br>
                </span>
                <span class="dark-grey" style="font-weight: 100; font-size: 20px">
                    faster throughput<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-2" class="footnote-reference">2</a></sup>
                </span>
            </div>

            <div class="col-lg-9 col-md-9 text-left no-padding" style="margin-top: 10px;">
                <img src="/img/phalanx-performance/hadoop-testdfsio-read-throughput-avg.svg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

        </div>
    </div>

</section>

<section class="bg-grey">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div style="position: relative; text-align: center;">
                    <img src="/img/phalanx-performance/ceph-logo.png" style="object-fit: fit; width: 55%; height: auto;">
                </div>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12" style="align-self: center; justify-content: center; margin: auto;">
                <h2>
                    <font class="dark-grey">
                        Release the Kraken.
                    </font>
                    <font class="mid-grey">
                        Ceph is not designed to minimize IO contentions and hot writes. These lead to scalability issues and long tail latencies. Phalanx enables Ceph to scale performance with capacity and to limit performance variations at scale. It’s now easier than ever to expand your storage.
                    </font>
                </h2>
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-3 col-md-3 text-center no-padding" style="font-family: lato; margin: auto;">
                <span class="dark-red" style="font-weight: 100; font-size: 130px; line-height: 100%;">
                    58%<br>
                </span>
                <span class="dark-grey" style="font-weight: 100; font-size: 20px">
                    higher IOPS<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                </span>
            </div>

            <div class="col-lg-9 col-md-9 text-left no-padding" style="margin-top: 10px;">
                <img src="/img/phalanx-performance/ceph-rados-write-iops-avg.svg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">

            <div class="col-lg-3 col-md-3 text-center no-padding" style="font-family: lato; margin: auto;">
                <span class="dark-red" style="font-weight: 100; font-size: 130px; line-height: 100%;">
                    10x<br>
                </span>
                <span class="dark-grey" style="font-weight: 100; font-size: 20px">
                    better performance consistency<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-3" class="footnote-reference">3</a></sup>
                </span>
            </div>

            <div class="col-lg-9 col-md-9 text-left no-padding" style="margin-top: 10px;">
                <img src="/img/phalanx-performance/ceph-rados-write-iops-stddev.svg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

        </div>
    </div>

</section>

<section>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Performance and simplicity.
                    </font>
                    <font class="mid-grey">
                        All together now.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="margin-bottom: 10px;">
                <img src="/img/phalanx-performance/silhouette.jpg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="no-margin">
                    <font class="dark-grey text-left">
                        Learn how Phalanx is enabling optimal performance and TCO at scale.
                    </font>
                </h2>

                <br>

                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-link"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="/phalanx/architecture">Phalanx architecture</a></h2></td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="/resources/performance/phalanx-fio-benchmarks.pdf">Flexible I/O tester (fio) benchmarks</a></h2></td>
                    </tr>
                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="/resources/performance/phalanx-hadoop-benchmarks.pdf">Hadoop TestDFSIO benchmarks</a></h2></td>
                    </tr>
                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="/resources/performance/phalanx-ceph-benchmarks.pdf">Ceph OSD and Rados benchmarks</a></h2></td>
                    </tr>
                    <tr>
                        <td class="table-cell-padding text-center"><i class="far fa-4x fa-file-pdf"></i></td>
                        <td class="table-cell-padding text-left"><h2><a href="https://documents.westerndigital.com/content/dam/doc-library/en_us/assets/public/western-digital/product/data-center-drives/ultrastar-dc-hc600-series/solution-brief-distributed-storage-system-with-host-managed-smr-hdds.pdf">Kalista IO and Western Digital joint solution brief </a></h2></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>

<section class="bg-dark">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <h1>
                    <font style="color:white">
                        Reinventing the storage experience.
                    </font>
                    <br>
                    <font class="hot-pink">
                        Uncompromising reliability and performance with effortless simplicity.
                    </font>
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Phalanx is engineered to grow with you.
                    </font>
                    <font class="mid-grey">
                        This means predictable and consistent performance at any scale. So that you can do more with less. From here anything is possible.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx-performance/splash.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="mid-grey">
                        Interested to know more? We invite you to connect with us to discuss your business requirements and see if Phalanx is a good fit for your organization.
                        <br>
                        Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section id="footnotes_performance">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left dark-grey footnotes">
                <ol class="no-padding" style="margin: 0px 10px 0px 10px">
                    <li id="footnote-1" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 4.18.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Flexible I/O tester (fio) version 3.14-11-g308a. Random write bench ran for 1800 seconds with 4KB block and 200GB file size, 64 concurrent threads each with queue depth of 1. Executed 3 times to capture average and standard deviation IOPS values.
                    </li>

                    <li id="footnote-2" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 5.0.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Apache Hadoop version 3.2.0 in single node pseudodistributed mode with single block replica, and TestDFSIO version 1.8 on OpenJDK version 1.8.0_222. TestDFSIO read benchmark ran with 32 files, 16GB each for a 512GB dataset. Executed 3 times to capture average and standard deviation throughput values.
                    </li>

                    <li id="footnote-3" class="footnotes">
                        Testing conducted by Kalista IO in August 2019 using preproduction Olympus (Phalanx) software with Linux kernel 5.0.0-25-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR and Ultrastar DC HC530 CMR drives connected through SATA 3.2, 6.0 Gb/s interface. Tested with Ceph version 13.2.6 Mimic in single node mode with single object replica. Rados write bench ran with 4MB object and block (op) size with 16 concurrent operations for 1800 seconds to capture average and standard deviation IOPS values.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<setion>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center">
                <h3>
                    <span>
                        "They can conquer who believe they can." — Virgil
                    </span>
                </h3>
            </div>
        </div>
    </div>
</setion>