<section class="no-padding">
    <div style="position: relative; text-align: center;">
        <img src="/img/phalanx/header3.jpeg" style="object-fit: fit; width: 100%; height: auto;">
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        One for all, all in one.
                    </font>
                    <font class="mid-grey">
                        With an unified object, block and file interface - you now have a choice in data access format.
                        Phalanx efficiently and automatically manages all your data across all interfaces.
                    </font>
                    <font class="dark-red">
                        Any type of data.
                        All in one place.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx/touch.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>


<section class="bg-dark">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12" style="color:white">
                 <h1>
                    <font style="color:cyan">
                        Easy
                    </font>
                    to
                    <font style="color:magenta">
                        deploy
                    </font>
                    <br>
                    <!-- <font style="color:#366dc7"> -->
                    <font style="color:steelblue">
                        Simple
                    </font>
                    to
                    <font style="color:orange">
                        operate
                    </font>
                    <br>
                    <font style="color:darkcyan">
                        Runs everywhere
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="white">
                        Simple. Transparent. Designed for users.
                    </font>
                    <font class="mid-grey">
                        Deploying Phalanx is as easy as downloading and running a virtual machine/container image or plugging in a hardware appliance.
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row equal-height">
            <div class="col-lg-6 col-md-6" style="align-self: center; margin-bottom: 10px;">
                <img src="/img/phalanx/ballon.jpg" style="object-fit: fit; width: 100%; margin-bottom: 10px;">
            </div>

            <div class="col-lg-6 col-md-6" style="align-self: center;">
                <h1>
                    <font class="dark-red">
                        Minimum dependency with minimum friction.
                    </font>
                    <font class="mid-grey">
                        Phalanx has minimal kernel dependency and requires no application changes to support the latest storage device technologies.
                        This means less operational friction and more efficiency for your IT infrastructure.
                    </font>
                </h1>
            </div>

        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Host Managed SMR support. An industry first.
                    </font>
                    <font class="mid-grey">
                        Seamlessly deploy industry leading next gen storage technology.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

   <div class="container text-left">
        <div class="row equal-height" style="margin:auto">
            <div class="col-lg-6 col-md-6 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="/img/phalanx/upwards.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>

            <div class="col-lg-6 col-md-6">
                <table style="padding: 15px;">
                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-plus"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Massive, ultra-dense storage. Up to 20TB per device.
                            </h2>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-dollar-sign"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Reduced TCO. Say hello to power efficiency and a lower cost per capacity.
                            </h2>
                        </td>
                    </tr>

                    <tr>
                        <td class="table-cell-padding text-center"><i class="fas fa-4x fa-flag-checkered"></i></td>
                        <td class="table-cell-padding text-left">
                            <h2>
                                Consistent and predictable performance. Say goodbye to long tail latencies.
                            </h2>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12" style="color:white">
                 <h1>
                    <font style="color:#366dc7">
                        Long tail latency...
                    </font>
                    <font style="color:orangered">
                        Curtailed.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h3>
                    <font class="white">
                        Device friendly and intelligent.
                    </font>
                    <font class="mid-grey">
                        Phalanx intelligently prioritizes IO requests and eliminates device contention and unnecessary work.
                        This enables storage devices to perform at their best.
                        That means better performance and a lower cost of ownership.
                    </font>
                </h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        A profile in latencies.
                    </font>
                    <font class="mid-grey">
                        This is a histogram of response times when overwriting a file 600,000 times with legacy software<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-1" class="footnote-reference">1</a></sup>.
                        Notice the wide distribution of latencies. This is the "long tail" that causes unpredicable performances in storage systems.
                        <!-- extreme large variability in latencies -->
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="/img/phalanx/tail-latency/legacy-transparent.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Compare and contrast<sup style="font-weight:90; font-size: 60%;"><a href="#footnote-1" class="footnote-reference">2</a></sup>.
                    </font>
                    <font class="mid-grey">
                        Here is the result with Phalanx. By streamlining IO operations Phalanx is able to deliver more consistent response times and better percentile latencies.
                        This means a more consistent and predictable performance at scale.
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="/img/phalanx/tail-latency/phalanx-transparent.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12">
                 <h1>
                    <font class="dark-red">
                        Deploy anywhere. Run everywhere.
                    </font>
                    <font class="mid-grey">
                        Deploy and operate Phalanx using existing orchestration and provisioning frameworks.
                        It is designed to fit within your current workflow and environment.
                        In addition, Phalanx works with conventional HDDs and SSDs as well as zoned block devices.
                    </font>
                </h1>
            </div>
        </div>
    </div>


    <br>
    <br>


    <div class="container text-left">
        <div class="row" style="margin:auto">
            <div class="col-lg-12 col-md-12 text-center" style="align-self: center; justify-content: center; margin: auto;">
                <img src="/img/phalanx/phalanx-usage-scenarios.png" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>




<section id="features">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    <font class="dark-grey">
                        Feature summary
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-cloudscale wow bounceIn text-primary"></i>
                    <h2>Scales performance with capacity</h2>
                    <h3 class="text-muted">Each storage device added to the system increases both performance and capacity.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-angle-double-right wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h2>Next gen ready</h2>
                    <h3 class="text-muted">Ready for the latest in storage technologies. Olympus natively supports Shingled Magnetic Recording (SMR) and variable capacity devices.</h3>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h2>Seamless scaling to multicloud</h2>
                    <h3 class="text-muted">Out of capacity? No problem! Burst & scale from on-prem to AWS, GCP, Azure and more.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-chart-line wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h2>Maximum performance</h2>
                    <h3 class="text-muted">No hot write areas and minimum device IO contention. Olympus storage engine drives maximum performance out of each storage device.</h3>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h2>Scalable and compatible</h2>
                    <h3 class="text-muted">Virtualized and modular architecture. Self-contained storage VM/container fits within existing virtualization and orchestration frameworks.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-lightbulb wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h2>Just works</h2>
                    <h3 class="text-muted">Turnkey operation. No need to recompile or change existing application. There is no kernel module to install. We've minimized the friction/disruption to deployment.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    <font class="dark-grey">
                        Technical information
                    </font>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="std-padding text-center bg-white" style="width: 100%; height: 100%; overflow-wrap: break-word">
                    <h2>
                        Architecture
                    </h2>

                    <h3 class="text-muted">
                        Designed to scale.<br>
                        Engineered to perform.</br>
                    </h3>

                    <h3 class="text-muted">
                        <font class="dark-red"><a href=/phalanx/architecture>Details</a> ></font>
                    </h3>
                </div>
            </div>

            <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

            <div class="col-lg-6 col-md-6">
                <div class="std-padding text-center bg-white" style="width: 100%; height: 100%; overflow-wrap: break-word">
                    <h2>
                        Performance
                    </h2>

                    <h3 class="text-muted">
                        Create without constraint.<br>
                        Performance by design.</br>
                    </h3>

                    <h3 class="text-muted">
                        <font class="dark-red"><a href=/phalanx/performance>Details</a> ></font>
                    </h3>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="/img/phalanx/abstract_colors_1.jpeg" style="object-fit: fit; width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>

<section id="footnotes_performance">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left dark-grey footnotes">
                <ol class="no-padding" style="margin: 0px 10px 0px 10px">
                    <li id="footnote-1" class="footnotes">
                        Testing conducted by Kalista IO in July 2020 using XFS file system with Linux kernel 5.4.0-42-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC530 CMR drive connected through SATA 3.2, 6.0 Gb/s interface. Write bench created a single 1GB file and executed 600,000 write commands each overwriting the first 64KB region of the file to capture latency values.
                    </li>

                    <li id="footnote-2" class="footnotes">
                        Testing conducted by Kalista IO in July 2020 using preproduction Olympus (Phalanx) software with Linux kernel 5.4.0-42-generic, and Intel® Core™ i7-4771 CPU 3.50GHz with 16GiB DDR3 Synchronous 2400 MHz RAM, and Western Digital Ultrastar DC HC620 host managed SMR drives connected through SATA 3.2, 6.0 Gb/s interface. Write bench created a single 1GB file and executed 600,000 write commands each overwriting the first 64KB region of the file capture latency values.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>