<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include challenge.html %}
  {% include news.html %}
  <!-- {% include front-announcement.html %} -->
  {% include break.html %}
  {% include products.html %}
  {% include break2.html %}
  {% include download.html %}
  {% include contact.html %}
  {% include footnotes_front.html %}
  {% include footer_front.html %}

  {% include scripts.html %}
</body>

</html>